*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    --cor-background-escuro: #2B2A2A;
    --cor-background-claro: #5F5F5F;
    --cor-background-input: #BDBDBD;
    --cor-fonte-principal: #FFB742;
    --cor-fonte-secundaria: #D6DBDF;
    --cor-fonte-botao: #212529;
}

h1{
    color: var(--cor-fonte-principal);
}

#form1{
    height: 94%;
    width: 100%;
    min-height: 350px;
}

label{
    margin: 3% 0 0 0;
}

input{
    border-radius: 30px;
    border: 0;
    background-color: var(--cor-background-input);
    height: 50px;
    font-size: 1.3rem;
    padding: 0 0 0 5px;
}

#dark-background{
    background-color: var(--cor-background-escuro);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 620px;
    min-height: 100vh;
}

#light-background{
    background-color: var(--cor-background-claro);
    width: 80%;
    height: 80%;
    border-radius: 30px;
    min-height: 550px;
    min-width: 600px;
}

#title-sign{
    width: 100%;
    text-align: center;
    margin: 1% 0 2% 0;
    font-size: 270%;
}

#information{
    height: 78%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#left-information{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#right-information{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div-info-large{
    margin-bottom: 3%;
}

#div-info-small{
    display: flex;
    justify-content: space-around;
}

#label-endereco
{
  margin: 2% 0 0 0; 
}

#div-cep{
    margin: 0 0 2% 0;
}

#div-address{
    margin: 0 0 0 0;
}

#div-botao{
    margin: 13% 0 2% 0;
    display: flex;
    justify-content: center;
}

#bottom{
    width: 250px;
    height: 50px;
    background-color: var(--cor-fonte-principal);
    color: var(--cor-fonte-botao);
    font-weight: 600;
    border: 0;
    border-radius: 20px;
    font-size: 1.5rem;
}

#bottom-back{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    background-color: var(--cor-fonte-principal);
    color: var(--cor-fonte-botao);
    font-weight: 600;
    border: 0;
    border-radius: 20px;
    font-size: 1.5rem;
}

#bottom:hover, #bottom-back:hover{
    cursor: pointer;
    background-color: #c27800;
}

.div-label{
    font-size: 2rem;
    font-weight: 600;
    color: var(--cor-fonte-secundaria);
}

.div-input{
    margin: 1% 0 3% 0;
}

.div-input2{
    margin: 1% 0 0 0;
}

.div-input3{
    margin: 1% 0 0 0;
}

.input-left{
    width: 100%;
}

.input-right{
    width: 90%;
}

.right{
    width: 80%;
    height: 50px;
}