#topics-nav{
    margin: auto 38%;
    width: 21%;
    padding: 1%;
}

.topic1{
    color: #cfceceee;
    font-size: 1em;
    text-align: center;
    padding: 1.1%;
    display: inline-block;
    margin: auto 2%;
    text-shadow: 2px 5px 4px rgb(0, 0, 0);

}

.topic1:hover{
    color: rgb(228, 169, 66);
    }