*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.popopo{
  --cor-background-escuro: #2B2A2A;
  --cor-background-claro: #5F5F5F;
  --cor-background-input: #BDBDBD;
  --cor-fonte-principal: #FFB742;
  --cor-fonte-secundaria: #D6DBDF;
  --cor-fonte-botao: #212529;
}

.boxoka{
  display: block;
}

#topics-nav2{
  display: flex;
  justify-content: center;
}

#supDiv{
  margin: 2vw 5vw;
  width: 90vw;
  height: 40vw;
  background-color: var(--cor-background-claro);
  border-radius: 30px;
}

#yellow-line{
  border-radius: 30px 30px 0 0;
  display: flex;
  width: 100%;
  height: 25%;
  background-color: var(--cor-fonte-principal);
  padding: 0 50px 0 50px;
  align-items: center;
  justify-content: space-between;
}

#profile-image{
  margin-top: 10%;
  height: 120%;
  border: 20px solid var(--cor-background-claro);
  border-radius: 50%;
}

#data{
  font-size: 2.5rem;
  color: var(--cor-background-escuro);
  width: 100%;
  margin-right: 35%;
}

#box-info{
  text-align: center;
  width: 30vw;
  margin-right: 27vw;
}
#info{
  display: flex;
  justify-content: center;
  margin: 5% 0 0 0;
}

#info-name{
  font-size: 2rem;
  width: 20%;
  margin-left: 10vw;
}

#results{
  font-size: 2rem;
  width: 20%;
}

.paragraph{
  margin:0 0 8% 0;
  color: var(--cor-fonte-secundaria);
}